@model ControlStockWebApp.Models.Saida

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Saida</h1>

<h3>Voce tem certeza de deletar estre registro?</h3>
<div>
    <h4>Saida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod_Saida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod_Saida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtde_Saida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtde_Saida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SaidaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
