@model ControlStockWebApp.Models.Entrada

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar registro</h1>

<h3>Voce tem certeza de deletar este registro ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod_Entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod_Entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.FornecedorId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtde_Entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtde_Entrada)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EntradaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
